@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
    width: 90%;
    max-width: 470px;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px 35px;
    text-align: center;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
}
.card .search {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.search button img{
    width: 25px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    transition: all 1s ease;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
    transition: all 1s ease;
}

.weather{
    transition: all 1s ease;
    display: none;
}
.details hr{
    width: 2px;
    height: 100px;
    border: none;
    outline: none;
    background-color:#89fffd;
    color: chartreuse;

}
.error{
    color: red;
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}